<div bsModal="" #createOrEditModal="bs-modal" class="modal fade" tabIndex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
  <div class="modal-dialog">
      <div class="modal-content">
          <form *ngIf="active" #taskForm="ngForm" noValidate="" (ngSubmit)="save()" autoComplete="off">

              <div class="modal-header">
                  <h4 class="modal-title">
                      <span *ngIf="taskEdit!=null">{{l("EditTask")}}: {{taskEdit.title}}</span>
                      <span *ngIf="taskEdit==null">{{l("CreateNewTask")}}</span>
                  </h4>
                  <button type="button" class="close" (click)="close()" aria-label="Close">
                      <span aria-hidden="true">×</span>
                  </button>
                  
              </div>

              <div class="modal-body">
                  <div class="row">
                      <div class="col-md-12">
                          <label>{{l("Title")}}</label>
                          <div class="form-group form-md-line-input form-md-floating-label no-hint" *ngIf="taskEdit==null">
                              <input type="text" name="title" class="form-control" [ngClass]="{'edited':task.Title}" [(ngModel)]="task.title" required="" maxLength="256"> 
                          </div>
                          <div class="form-group form-md-line-input form-md-floating-label no-hint" *ngIf="taskEdit!=null">
                              <input type="text" name="title" class="form-control" [ngClass]="{'edited':task.Title}" [(ngModel)]="taskEdit.title" required="" maxLength="256"> 
                          </div>
                          <label>{{l("Description")}}</label>
                          <div class="form-group form-md-line-input form-md-floating-label no-hint" *ngIf="taskEdit==null">
                          <input type="text" name="description" class="form-control" [ngClass]="{'edited':task.Description}" [(ngModel)]="task.description" maxLength="65536">   
                          </div>
                          <div class="form-group form-md-line-input form-md-floating-label no-hint" *ngIf="taskEdit!=null">
                          <input type="text" name="description" class="form-control" [ngClass]="{'edited':task.Description}" [(ngModel)]="taskEdit.description" maxLength="65536"> 
                          </div>
                       
                        
                          <div class="form-group form-md-line-input form-md-floating-label no-hint" *ngIf="taskEdit!=null">
                              <label>{{l("State")}}</label>
                              <span class="pull-right" >
                                  <select class="form-control"  name="state" class="form-control" [(ngModel)]="taskEdit.state">
                                      <option *ngFor="let option of stateSelectedOptions" [ngValue]="option.value">{{option.text}}</option>
                                  </select>
                              </span>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="modal-footer">
                  <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">
                      {{l("Cancel")}}
                  </button>
                  <button type="submit" class="btn btn-primary blue" [disabled]="!taskForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')">
                      <i class="fa fa-save"></i>
                      <span>{{l("Save")}}</span>
                  </button>
              </div>
          </form>
      </div>
  </div>
</div>