<div bsModal="" #createOrEditEmployeeModal="bs-modal" class="modal fade" tabIndex="-1" role="dialog" aria-labelledby="createOrEditEmployeeModal" aria-hidden="true" [config]="{backdrop: 'static'}">
  <div class="modal-dialog">
      <div class="modal-content">
          <form *ngIf="active" #employeeForm="ngForm" noValidate="" (ngSubmit)="save()" autoComplete="off">

              <div class="modal-header">
                  <h4 class="modal-title">
                      <span *ngIf="employeeEdit!=null">{{l("EditEmployee")}}: {{employeeEdit.name}}</span>
                      <span *ngIf="employeeEdit==null">{{l("CreateNewEmployee")}}</span>
                  </h4>
                  <button type="button" class="close" (click)="close()" aria-label="Close">
                      <span aria-hidden="true">×</span>
                  </button>

              </div>

              <div class="modal-body">
                  <div class="row">
                      <div class="col-md-12">
                          <label>{{l("Name")}}</label>
                          <div class="form-group form-md-line-input form-md-floating-label no-hint" *ngIf="employeeEdit==null">
                              <input type="text" name="name" class="form-control" [(ngModel)]="employee.name" required="" maxLength="256">
                          </div>
                          <div class="form-group form-md-line-input form-md-floating-label no-hint" *ngIf="employeeEdit!=null">
                              <input type="text" name="name" class="form-control" [(ngModel)]="employeeEdit.name" required="" maxLength="256">
                          </div>
                          <label>{{l("BirthDate")}}</label>
                          <div class="form-group form-md-line-input form-md-floating-label no-hint" *ngIf="employeeEdit==null">
                              <input type="date" name="birthDate" class="form-control" [(ngModel)]="employee.birthDate">
                          </div>
                          <div class="form-group form-md-line-input form-md-floating-label no-hint" *ngIf="employeeEdit!=null">
                              <input type="date" name="birthDate" class="form-control"  [(ngModel)]="employeeEdit.birthDate">
                          </div>
                         
                      </div>
                  </div>
              </div>
              <div class="modal-footer">
                  <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">
                      {{l("Cancel")}}
                  </button>
                  <button type="submit" class="btn btn-primary blue" [disabled]="!employeeForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')">
                      <i class="fa fa-save"></i>
                      <span>{{l("Save")}}</span>
                  </button>
              </div>
          </form>
      </div>
  </div>
</div>